$box-size: 100px;
$row-count: 7;
$gap: 1px;
$row-px: ($row-count - 1) * $gap;
$paddings: 10px;
$step: $box-size + $gap;
$start-days: (
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6,
  sun: 7,
);
